



{% extends 'layout.html' %} {% block body %}


<style>
  .h2-fonte {
    font-family: "Jaro", sans-serif;
    font-size: 25px;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
  }
</style>

<div class="container-fluid">

  <div class="row">
    <div class="col-12 p-0 m-0">

    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <img src="/static/img/img_1.jpeg" alt="Nova Coleção" class="py-2" />
    </div>
    <div class="col-lg-3 col-md-6">
      <img src="/static/img/img_2.jpeg" alt="Venha Conferir" class="py-2" />
    </div>
    <div class="col-lg-3 col-md-6">
      <img src="/static/img/img_3.jpeg" alt="Controle sua coleção" class="py-2" />
    </div>
    <div class="col-lg-3 col-md-6">
      <img src="/static/img/img_4.jpeg" alt="Produtos Festivos" class="py-2" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="h2-fonte">Pokémons em destaque</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 3.png" alt="" class="py-2" />
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 1.png" alt="" class="py-2" />
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 5.png" alt="" class="py-2" />
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 6.png" alt="" class="py-2" />
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 4.png" alt="" class="py-2" />
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="/static/img/pokedest 2.png" alt="" class="py-2" />
    </div>
  </div>
</div>


<script type="text/javascript">
  "use strict";

</script>

{% endblock %}