{% extends 'layout.html' %} {% block body %}



<style>
  .banner {
    font-family: "Jaro", sans-serif;
    background-image: url("/static/img/eevee.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 3px #000000;
  }

  .thumb {
    display: block;
    width: 100%;
    aspect-ratio: 1.61;
    object-fit: cover;
    border-radius: 0;
  }

  .h2-fonte {
    font-family: "Jaro", sans-serif;
    font-size: 25px;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
  }
</style>

<div class="container-fluid px-0">


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 my-3 pt-3">
    <div class="col">
      <img
        src="/static/img/img_1.jpeg"
        alt="Nova Coleção"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_2.jpeg"
        alt="Venha Conferir"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_3.jpeg"
        alt="Controle sua coleção"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_4.jpeg"
        alt="Produtos Festivos"
        class="thumb w-100"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="h2-fonte">Pokémons em destaque</h2>
    </div>
  </div>
  <dxiv class="row">
    <div class="col-sm-2">
      <img src="/static/img/pokedest 3.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 1.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 5.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 6.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 4.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 2.png" alt="" />
    </div>
  </div>
</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
  "use strict";

document.addEventListener("DOMContentLoaded", () => {
  const items = document.querySelectorAll(".nav-item-custom");
  const circle = document.querySelector(".circle-indicator");
  const currentPath = window.location.pathname.split("/").pop();

  // Identifica o item ativo pela URL atual
  let activeItem = Array.from(items).find(item => 
    item.dataset.href === currentPath
  ) || items[0];

  // Posiciona o círculo sob o item ativo
  const setCirclePosition = (el) => {
    const rect = el.getBoundingClientRect();
    const navRect = el.parentElement.getBoundingClientRect();
    const leftPos = rect.left - navRect.left + rect.width / 2 - 8; // centraliza o círculo
    circle.style.left = `${leftPos}px`;
  };

  setCirclePosition(activeItem);
  activeItem.classList.add("active");

  // Clique nos itens
  items.forEach(item => {
    item.addEventListener("click", () => {
      if (item === activeItem) return;

      // Anima ícones
      activeItem.classList.remove("active");
      item.classList.add("active");

      // Move o círculo
      setCirclePosition(item);

      // Redireciona após a animação
      setTimeout(() => {
        window.location.href = item.dataset.href;
      }, 600); // tempo igual ao transition do círculo
    });
  });

  // Ajusta o círculo se redimensionar a tela
  window.addEventListener("resize", () => setCirclePosition(activeItem));
});





</script>

{% endblock %}

