{% extends 'layout.html' %} {% block body %}

<link
  href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap"
  rel="stylesheet"
/>

<style>
  .banner {
    font-family: "Jaro", sans-serif;
    background-image: url("/static/img/eevee.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 3px #000000;
  }

  .thumb {
    display: block;
    width: 100%;
    aspect-ratio: 1.61;
    object-fit: cover;
    border-radius: 0;
  }

  .h2-fonte {
    font-family: "Jaro", sans-serif;
    font-size: 25px;
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
  }
</style>

<div class="container-fluid">
  <div class="banner">
    <h1>POKEAMIGOS</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 my-3 pt-3">
    <div class="col">
      <img
        src="/static/img/img_1.jpeg"
        alt="Nova Coleção"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_2.jpeg"
        alt="Venha Conferir"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_3.jpeg"
        alt="Controle sua coleção"
        class="thumb w-100"
      />
    </div>
    <div class="col">
      <img
        src="/static/img/img_4.jpeg"
        alt="Produtos Festivos"
        class="thumb w-100"
      />
    </div>
  </div>
  <h2 class="h2-fonte">Pokémons em destaque</h2>
  <div class="row">
    <div class="col-sm-2">
      <img src="/static/img/pokedest 3.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 1.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 5.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 6.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 4.png" alt="" />
    </div>
    <div class="col-sm-2">
      <img src="/static/img/pokedest 2.png" alt="" />
    </div>
  </div>
</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
  "use strict";

  $("#form").validate({
    rules: {
      data: {
        required: true,
      },
    },
    submitHandler: function () {
      atualizarDados();
    },
  });

  async function atualizarDados() {
    waitSwal();

    try {
      let response = await fetch("/obterDados");

      if (response.ok) {
        Swal.close();

        let div = document.getElementById("div-grafico");
        div.innerHTML =
          '<canvas id="grafico-barras" style="height: 50vh;"></canvas>';

        let labels = [],
          data = [];

        let dados = await response.json();
        if (!dados || !dados.length) {
          Swal.fire("Erro", "Sem dados na data especificada!", "error");
          return;
        }

        for (let i = 0; i < dados.length; i++) {
          labels.push(dados[i].dia);
          data.push(dados[i].valor);
        }

        let grafico = new Chart(document.getElementById("grafico-barras"), {
          type: "bar",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Valor",
                backgroundColor: "#4e73df",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data: data,
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            layout: {
              padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0,
              },
            },
            scales: {
              x: {
                gridLines: {
                  display: false,
                  drawBorder: false,
                },
                ticks: {
                  maxTicksLimit: 10,
                },
                maxBarThickness: 25,
              },
              y: {
                //display: false,
                ticks: {
                  min: 0,
                  max: 10,
                  maxTicksLimit: 10,
                  padding: 10,
                },
                gridLines: {
                  color: "rgb(234, 236, 244)",
                  zeroLineColor: "rgb(234, 236, 244)",
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2],
                },
              },
            },
            legend: {
              display: false,
            },
            tooltips: {
              titleMarginBottom: 10,
              titleFontColor: "#6e707e",
              titleFontSize: 14,
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: "#dddfeb",
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
          },
        });
      } else {
        await exibirErro(response);
      }
    } catch (ex) {
      Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
  }

  atualizarDados();
</script>

{% endblock %}
