{% extends 'layout.html' %} {% block body %}

<div class="fundo-cinza-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid fundo-branco-borda-arredondada">
        <div class="row">
          <div class="col-lg-5">
            <div class="card shadow my-4">
              <div class="card-body">
                <h2 class="card-title">Dashboard</h2>
                <p class="card-text paddinzinho">
                  Visualize as informações sobre o seu pokemon
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow my-4">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <p class="subtitulo">Total de Visitantes</p>
                  <p id="total_visitas" class="GdsNums"></p>
                  <div class="pt-4">
                    <p class="subtitulo">Tempo médio de decisão do cliente</p>
                    <p id="resultado" class="GdsNums"></p>
                  </div>
                </div>
                <div class="col-lg-6" id="div-geladeira">
                  <canvas
                    id="graficoAtratividade"
                    width="100%"
                    height="60"
                  ></canvas>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-lg-6" id="div-heatmap"></div>
                <div class="col-lg-6" id="div-linha">
                  <canvas
                    id="graficoFluxoHora"
                    width="100%"
                    height="60%"
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  "use strict";
  Chart.defaults.font.family = "Arial";

  async function atualizarDadosGeral() {
    waitSwal();

    try {
      let response = await fetch("/atualizarBanco");
    } catch (ex) {
      Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
  }

  function relativeLuminance(rgb) {
    if (typeof rgb === "string") rgb = parseInt(rgb.replace("#", ""), 16);
    rgb |= 0;
    if (rgb < 0) return 1;
    //http://www.w3.org/TR/2007/WD-WCAG20-TECHS-20070517/Overview.html#G18
    var RsRGB = ((rgb >>> 16) & 0xff) / 255.0,
      GsRGB = ((rgb >>> 8) & 0xff) / 255.0,
      BsRGB = (rgb & 0xff) / 255.0,
      R,
      G,
      B;
    if (RsRGB <= 0.03928) R = RsRGB / 12.92;
    else R = Math.pow((RsRGB + 0.055) / 1.055, 2.4);
    if (GsRGB <= 0.03928) G = GsRGB / 12.92;
    else G = Math.pow((GsRGB + 0.055) / 1.055, 2.4);
    if (BsRGB <= 0.03928) B = BsRGB / 12.92;
    else B = Math.pow((BsRGB + 0.055) / 1.055, 2.4);
    return 0.2126 * R + 0.7152 * G + 0.0722 * B;
  }

  function textColorForBackground(i) {
    return relativeLuminance(i) < 0.4 ? "#ffffff" : "#000000";
  }

  function coresHeatmap(perc) {
    const r0 = 0xe6; // 230 → lavanda (início)
    const g0 = 0xe6; // 230
    const b0 = 0xfa; // 250
    const r1 = 0x80; // 128 → roxo (fim)
    const g1 = 0x00; //   0
    const b1 = 0x80; // 128
    let r = Math.max(
      0,
      Math.min(255, (perc * r1 + (1 - perc) * r0) | 0)
    ).toString(16);
    let g = Math.max(
      0,
      Math.min(255, (perc * g1 + (1 - perc) * g0) | 0)
    ).toString(16);
    let b = Math.max(
      0,
      Math.min(255, (perc * b1 + (1 - perc) * b0) | 0)
    ).toString(16);
    if (r.length < 2) r = "0" + r;
    if (g.length < 2) g = "0" + g;
    if (b.length < 2) b = "0" + b;
    const corFundo = "#" + r + g + b;
    const corTexto = textColorForBackground(corFundo);
    return `background-color: ${corFundo}; color: ${corTexto};`;
  }

  function calcularTotalVisitas(consolidado) {
    let total = 0;
    for (let i = 0; i < consolidado.length; i++) {
      total += parseInt(consolidado[i].total_entrada);
    }
    document.getElementById("total_visitas").innerText = `${total} pessoas`;
  }

  function gerarHeatmap(consolidado) {
    const colunas = [
      "Segunda-Feira",
      "Terça-Feira",
      "Quarta-Feira",
      "Quinta-Feira",
      "Sexta-Feira",
      "Sábado",
      "Domigo",
    ];

    let html = [
      `<p class="subtitulo"> Total de Clientes por Dia </p><table class="table-bordered table-sm mx-auto" style="height: auto; line-height: 1.2;"><thead><tr>`,
    ];
    for (let i = 0; i < colunas.length; i++) {
      html.push(`<th>${colunas[i]}</th>`);
    }

    html.push(`
  			</tr>
  			</thead>
  			<tbody>
  		`);

    let maior = consolidado[0].total_entrada;

    for (let i = 0; i < consolidado.length; i++) {
      let dado = parseInt(consolidado[i].total_entrada);
      if (maior < dado) {
        maior = dado;
      }
    }

    let cmc = consolidado[0].diaSmn;
    let aux_c = 0;
    if (cmc) {
      html.push(`<tr>`);
      for (let i = 0; i < cmc; i++) {
        html.push(`<td>  </td>`);
      }
      for (let i = 0; i < 7 - cmc; i++) {
        if (i > consolidado.length - 1) {
          break;
        }
        const dado = consolidado[i];
        aux_c++;
        let n = dado.total_entrada / maior;
        html.push(
          `<td style="${coresHeatmap(n)}"> <p > ${dado.dia} </p><p >${
            dado.total_entrada
          }</p></td>`
        );
      }
      html.push(`</tr>`);
    }

    for (let i = 0 + aux_c; i < consolidado.length; i++) {
      const dado = consolidado[i];
      if (dado.diaSmn == 0) {
        html.push(`<tr>`);
      }
      let n = dado.total_entrada / maior;
      html.push(
        `<td style="${coresHeatmap(n)}"> <p > ${dado.dia} </p><p >${
          dado.total_entrada
        }</p></td>`
      );

      if (dado.diaSmn == 6) {
        html.push(`</tr>`);
      }
    }

    html.push(`</tbody></table>`);
    document.getElementById("div-heatmap").innerHTML = html.join("");
  }

  $("#form").validate({
    rules: {
      data_inicial: { required: true },
      data_final: { required: true },
    },
    submitHandler: function () {
      atualizarDados();
    },
  });

  let graficoFluxoHora;
  let graficoAtratividade;

  const nomesGeladeiras = {
    1: "Tom e Jerrys",
    2: "Kibão",
    3: "Batche de Latche",
  };

  async function atualizarDados() {
    waitSwal();

    try {
      let data_inicial = document.getElementById("data_inicial").value;
      let data_final = document.getElementById("data_final").value;
      let responseHeat = await fetch(
        `/obterDadosHeatmap?data_inicial=${data_inicial}&data_final=${data_final}`
      );
      const responseTaxa = await fetch(
        `/obterTaxaAtratividade?data_inicial=${data_inicial}&data_final=${data_final}`
      );
      const responseDecisao = await fetch(
        `/obterMediaDecisao?data_inicial=${data_inicial}&data_final=${data_final}`
      );
      const responseLinha = await fetch(
        `/obterFluxoHora?data_inicial=${data_inicial}&data_final=${data_final}`
      );

      const dadosDecisao = await responseDecisao.json();

      if (responseDecisao.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text: "Falha na aquisição do tempo médio de decisão: " + dadosDecisao,
        });
        return;
      }

      const dadosLinha = await responseLinha.json();

      if (responseLinha.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text:
            "Falha na aquisição dos dados do gráfico de linha: " + dadosLinha,
        });
        return;
      }

      const dadosGela = await responseTaxa.json();

      if (responseTaxa.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text:
            "Falha na aquisição dos dados do gráfico de atratividade por marcas: " +
            dadosGela,
        });
        return;
      }

      if (responseHeat.ok) {
        let consolidadoHeat = await responseHeat.json();
        if (!consolidadoHeat || !consolidadoHeat.length) {
          Swal.fire("Erro", "Sem dados no período especificado!", "error");
          graficoAtratividade.destroy();
          graficoAtratividade = null;
          graficoFluxoHora.destroy();
          graficoFluxoHora = null;
          document.getElementById("div-heatmap").innerHTML = "";
          document.getElementById("div-decisao").innerHTML = "";
          return;
        }

        if (responseHeat.status == 500) {
          Swal.fire({
            icon: "error",
            title: "Erro",
            text: "Falha na aquisição dos dados do Heatmap: " + consolidadoHeat,
          });
          return;
        }

        gerarHeatmap(consolidadoHeat);
        calcularTotalVisitas(consolidadoHeat);
      } else {
        await exibirErro(responseHeat);
      }
      if (!responseTaxa.ok) {
        await exibirErro(responseTaxa);
        return;
      }

      const e = document.getElementById("resultado");

      e.innerHTML = `${dadosDecisao} minutos `;

      if (!dadosGela || dadosGela.length === 0) {
        Swal.fire("Erro", "Sem dados no período especificado!", "error");
        if (graficoAtratividade) {
          graficoAtratividade.destroy();
          graficoAtratividade = null;
        }
        return;
      }
      const labels = dadosGela.map(
        (item) => nomesGeladeiras[item.Id_Gelad] || `Geladeira ${item.Id_Gelad}`
      );
      const valores = dadosGela.map((item) => item.total_visitas);

      const ctx2 = document
        .getElementById("graficoAtratividade")
        .getContext("2d");

      if (graficoAtratividade) {
        graficoAtratividade.destroy();
      }

      graficoAtratividade = new Chart(ctx2, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Total de Visitas",
              data: valores,
              backgroundColor: "rgba(148, 20, 148, 0.6)",
              borderColor: "rgba(128, 0, 128, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Taxa de Atratividade por Marca",
            },
            legend: {
              display: false,
            },
          },
          scales: {
            x: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Visitas",
              },
            },
            y: {
              title: {
                display: true,
                text: "Marcas",
              },
            },
          },
        },
      });

      if (
        !dadosLinha ||
        dadosLinha.length === 0 ||
        dadosLinha.every((item) => !item.entradas && !item.saidas)
      ) {
        Swal.fire("Erro", "Sem dados no período especificado!", "error");
        if (graficoFluxoHora) {
          graficoFluxoHora.destroy();
          graficoFluxoHora = null;
        }
        return;
      }

      const horas = dadosLinha.map((item) => item.hora);
      const entradas = dadosLinha.map((item) => item.entradas);
      const saidas = dadosLinha.map((item) => item.saidas);

      const ctx1 = document.getElementById("graficoFluxoHora").getContext("2d");

      if (graficoFluxoHora) {
        graficoFluxoHora.destroy();
      }

      graficoFluxoHora = new Chart(ctx1, {
        type: "line",
        data: {
          labels: horas,
          datasets: [
            {
              label: "Entradas",
              data: entradas,
              borderColor: "blue",
              backgroundColor: "rgba(0, 103, 252, 0.2)",
              fill: true,
              tension: 0.3,
            },
            {
              label: "Saídas",
              data: saidas,
              borderColor: "orange",
              backgroundColor: "rgba(252, 103, 0, 0.2)",
              fill: true,
              tension: 0.3,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Fluxo de Pessoas por Hora",
            },
            legend: {
              position: "top",
            },
          },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      Swal.close();
    } catch (ex) {
      Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
  }

  atualizarDadosGeral();
  atualizarDados();
</script>

{% endblock %}
