{% extends 'layout.html' %} {% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="fundo-cinza-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid fundo-branco-borda-arredondada">
        <div class="row">
          <div class="col-lg-5">
            <div class="card shadow my-4">
              <div class="card-body">
                <h2 class="card-title">Dashboard</h2>
                <p class="card-text paddinzinho">
                  Visualize as informações sobre o seu pokemon
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow my-4">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6" id="div-cartaCara">
                  <canvas
                    id="graficoCartaCara"
                    width="100%"
                    height="60"
                  ></canvas>
                </div>
                <div class="col-lg-6" id="div-artista">
                  <canvas
                    id="graficoArtista"
                    width="100%"
                    height="60"
                  ></canvas>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-lg-6" id="div-cartaBarata">
                  <canvas
                    id="graficoCartaBarata"
                    width="100%"
                    height="60"
                  ></canvas>
                </div>
                <div class="col-lg-6" id="div-Elemento">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-10">
                        <canvas
                          id="graficoElemento"
                          width="100%"
                          height="60"
                        ></canvas>
                      </div>
                      <div class="col-lg-2">
                        <select id="slc-Elementos">
                          <option value="Água">Água</option>
                          <option value="Dragão">Dragão</option>
                          <option value="Escuridão">Escuridão</option>
                          <option value="Fada">Fada</option>
                          <option value="Fogo">Fogo</option>
                          <option value="Grama">Grama</option>
                          <option value="Luta">Luta</option>
                          <option value="Metal">Metal</option>
                          <option value="Normal">Normal</option>
                          <option value="Psíquica">Psíquica</option>
                          <option value="Raio">Raio</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  "use strict";
  Chart.defaults.font.family = "Arial";

  let graficoCartaCara;
  let graficoArtista;
  let graficoCartaBarata;
  let graficoElemento;

  const filterSelect = document.getElementById('slc-Elementos');


  filterSelect.addEventListener('change', async (event) => {
    waitSwal()
    const elmAux = event.target.value;

    let responseElementoAux = await fetch(
        `/obterElemento?elemento=${elmAux}`
      );

    const dadosElmAux = await responseElementoAux.json();

    if (responseElementoAux.status == 500) {
      Swal.fire({
        icon: "error",
        title: "Erro",
        text: "Falha na aquisição dos cartas mais caras por elemento: " + dadosElmAux,
      });
      return;
    }

    let labelsElmAux = dadosElmAux.map(
        (item) => `${item.pokemon}`
      ); 
    let dataElmAux = dadosElmAux.map((item) => item.valor);

    graficoElemento.data.labels = labelsElmAux;
    graficoElemento.data.datasets[0].data = dataElmAux;
    graficoElemento.update();

    Swal.close()
  });

  async function gerarTeste(){
    waitSwal();

    try{
      let responseArtista = await fetch(
        "/obterArtistas"
      );

      let responseCartaCara = await fetch(
        "/obterPokemons"
      );

      let responseCartaBarata = await fetch(
        "/obterPokemonsBaratos"
      );

      let elm = document.getElementById("slc-Elementos").value

      let responseElemento = await fetch(
        `/obterElemento?elemento=${elm}`
      );

      const dadosArt = await responseArtista.json();
      
      const dadosCara = await responseCartaCara.json();

      const dadosBarata = await responseCartaBarata.json();

      const dadosElm = await responseElemento.json();

      if (responseArtista.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text: "Falha na aquisição do artista mais valioso: " + dadosArt,
        });
        return;
      }

      if (responseCartaCara.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text: "Falha na aquisição das cartas mais caras: " + dadosCara,
        });
        return;
      }

      if (responseCartaBarata.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text: "Falha na aquisição das cartas mais baratas: " + dadosBarata,
        });
        return;
      }

      if (responseElemento.status == 500) {
        Swal.fire({
          icon: "error",
          title: "Erro",
          text: "Falha na aquisição das cartas mais caras por elemento: " + dadosElm,
        });
        return;
      }

      const labelsArt = dadosArt.map(
        (item) => `${item.artista}`
      );
      const valoresArt = dadosArt.map((item) => item.valor);

      const ctx2 = document
        .getElementById("graficoArtista")
        .getContext("2d");

      if (graficoArtista) {
        graficoArtista.destroy();
      }

      graficoArtista = new Chart(ctx2, {
        type: "bar",
        data: {
          labels: labelsArt,
          datasets: [
            {
              label: "Total de Valor Anunciado",
              data: valoresArt,
              backgroundColor: "rgba(255, 26, 6, 0.93)",
              borderColor: "rgba(255, 10, 10, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Artista mais caro",
            },
            legend: {
              display: false,
            },
          },
          scales: {
            x: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Valor Total",
              },
            },
            y: {
              title: {
                display: true,
                text: "Artistas",
              },
            },
          },
        },
      });

      const labelsCara = dadosCara.map(
        (item) => `${item.pokemon}`
      );
      const valoresCara = dadosArt.map((item) => item.valor);

      const ctx = document
        .getElementById("graficoCartaCara")
        .getContext("2d");

      if (graficoCartaCara) {
        graficoCartaCara.destroy();
      }

      graficoCartaCara = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labelsCara,
          datasets: [
            {
              label: "Total de Valor Anunciado",
              data: valoresCara,
              backgroundColor: "rgba(255, 26, 6, 0.93)",
              borderColor: "rgba(255, 10, 10, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Carta mais cara",
            },
            legend: {
              display: false,
            },
          },
          scales: {
            x: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Valor Total",
              },
            },
            y: {
              title: {
                display: true,
                text: "Carta",
              },
            },
          },
        },
      });

      const labelsBarata = dadosBarata.map(
        (item) => `${item.pokemon}`
      );
      const valoresBarata = dadosBarata.map((item) => item.valor);

      const ctx3 = document
        .getElementById("graficoCartaBarata")
        .getContext("2d");

      if (graficoCartaBarata) {
        graficoCartaBarata.destroy();
      }

      graficoCartaBarata = new Chart(ctx3, {
        type: "bar",
        data: {
          labels: labelsBarata,
          datasets: [
            {
              label: "Total de Valor Anunciado",
              data: valoresBarata,
              backgroundColor: "rgba(255, 26, 6, 0.93)",
              borderColor: "rgba(255, 10, 10, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Carta mais barata",
            },
            legend: {
              display: false,
            },
          },
          scales: {
            x: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Valor Total",
              },
            },
            y: {
              title: {
                display: true,
                text: "Cartas",
              },
            },
          },
        },
      });

      const labelsElm = dadosElm.map(
        (item) => `${item.pokemon}`
      );
      const valoresElm = dadosElm.map((item) => item.valor);

      const ctx4 = document
        .getElementById("graficoElemento")
        .getContext("2d");

      if (graficoElemento) {
        graficoElemento.destroy();
      }

      graficoElemento = new Chart(ctx4, {
        type: "bar",
        data: {
          labels: labelsElm,
          datasets: [
            {
              label: "Total de Valor Anunciado",
              data: valoresElm,
              backgroundColor: "rgba(255, 26, 6, 0.93)",
              borderColor: "rgba(255, 10, 10, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          indexAxis: "y",
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: "Carta mais cara",
            },
            legend: {
              display: false,
            },
          },
          scales: {
            x: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Valor Total",
              },
            },
            y: {
              title: {
                display: true,
                text: "Carta",
              },
            },
          },
        },
      });

      Swal.close();

    }catch (ex) {
      Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
    }
  }

  gerarTeste()
</script>

{% endblock %}
