<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if titulo %}
  <title>{{ titulo }} - PokeAmigos</title>
  {% else %}
  <title>PokeAmigos</title>
  {% endif %}

  <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet" />
  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/sweetalert2.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />
  <link rel="icon" href="/static/svg/pokeball.svg" type="image/x-icon" />

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>
  <script type="text/javascript" src="/static/js/projeto.js"></script>
  
  {% block head %}{% endblock %}
</head>

<body>
  <div class="limitador">
    
    <header class="header-top">
      <div class="container-fluid">
        <div class="row align-items-center w-100">
          <div class="col-auto">
            <a href="/">
                <img src="/static/img/navbar/logo.png" alt="Logo" class="logo-img">
            </a>
          </div>
          <div class="col"></div>
          <div class="col-auto">
            <div class="user-section">
              <span class="login-text">Login /<br>Registre-se</span>
              <img src="/static/img/navbar/avatar.png" alt="User Avatar" class="user-avatar">
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav class="navbar-custom">
      <div class="container-fluid p-0">
        <div class="row align-items-center w-100 m-0">
          <div class="col p-0">
            <ul class="nav-items-list">
              
              <a href="/" class="nav-link-container">
                <li class="nav-item-custom {% if request.path == '/' %}active{% endif %}">
                  <img src="/static/img/navbar/home.png" alt="Home" class="nav-icon">
                  <span class="nav-text">Home</span>
                </li>
              </a>

              <a href="/colecoes" class="nav-link-container">
                <li class="nav-item-custom {% if request.path == '/colecoes' or 'colecao' in request.args %}active{% endif %}">
                  <img src="/static/img/navbar/colecoes.png" alt="Coleções" class="nav-icon">
                  <span class="nav-text">Coleções</span>
                </li>
              </a>

              <a href="/meu-album" class="nav-link-container">
                <li class="nav-item-custom {% if request.path == '/meu-album' %}active{% endif %}">
                  <img src="/static/img/navbar/meu-album.png" alt="Meu Álbum" class="nav-icon">
                  <span class="nav-text">Meus Álbuns</span>
                </li>
              </a>

              <a href="/procurar?desejos=true" class="nav-link-container">
                <li class="nav-item-custom {% if request.args.get('desejos') %}active{% endif %}">
                  <img src="/static/img/navbar/desejos.png" alt="Lista de desejos" class="nav-icon">
                  <span class="nav-text">Desejos</span>
                </li>
              </a>

              <a href="/sobre" class="nav-link-container">
                <li class="nav-item-custom {% if request.path == '/sobre' %}active{% endif %}">
                  <img src="/static/img/navbar/sobre.png" alt="Sobre nós" class="nav-icon">
                  <span class="nav-text">Sobre nós</span>
                </li>
              </a>

            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="conteudo pt-5">
        {% block body %}{% endblock %}
    </div>

    <div class="rodape" style="background-color: black; padding: 20px; text-align: center;">
      <a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank" style="color: white; text-decoration: none;">
        <small style="font-family: 'Jaro', sans-serif;">Desenvolvido em 2025 pelo curso de Sistemas de Informação da ESPM</small>
        <br />
        <img src="/static/img/logo-si-512.png" style="width: 100%; max-width: 150px; margin-top: 10px;" />
      </a>
    </div>

    {% block rodape %}{% endblock %}
  </div>
</body>
</html>